html
{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	color: rgb(58, 58, 58);
	overflow-x: hidden;
	flex-wrap: wrap;
}
body
{
	margin: 0;
}
h3
{
	margin-left: 4rem;
}
sub
{
	font-size: 0.75rem;
	margin-left: 1rem;
}
span
{
	font-weight: 700;
}