/* Whole Page */
html
{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	color: rgb(58, 58, 58);
	overflow-x: hidden;
	flex-wrap: wrap;
}
body
{
	margin: 0;
}
h3
{
	margin-left: 4rem;
}
sub
{
	font-size: 0.75rem;
	margin-left: 1rem;
}
span
{
	font-weight: 700;
}
/* Whole Page End */


/* Header */
#logo
{
	height: 4.25rem;
	width: 9.375rem;
	margin: 1rem 1rem 0 4rem;
	float: left;
}
#searchField
{
	width: 30%;
	margin: 2rem 0 0.5rem 0.5rem;
	height: 2rem;
}
#searchButton
{
	background-color: rgb(100, 145, 191);
	border: 2px solid rgb(100, 145, 191);
	color: rgb(255, 255, 255);
	font-weight: 700;
	height: 2.4rem;
	padding: 0 1rem;
}
/* Header End */

/* Navigation Menu */
#navBar
{
	background-color: rgb(15, 85, 156);
	margin: 0;
}
#navBar li
{
	color: rgb(255, 255, 255);
	font-weight: 700;
	border-right: 1px solid rgb(17, 106, 197);
	padding: 0.5rem 1.5rem;
}
#navBar li:first-child
{
	border-left: 1px solid rgb(17, 106, 197);
}
#navBar li:hover
{
	background-color: rgb(208, 23, 28);
}
#dropdown-content
{
	display: none;
	margin-left: 4rem;
}
#dropdown-menu:hover #dropdown-content
{
	display: block;
	height: 24rem;
}
#dropdown-menu ul
{
	margin-left: 0;
    clear: both;
    padding-left: 4rem;
}
#dropdown-menu .flex-item, #featured .flex-item, #allCategories .flex-item
{
	display: inline-flex;
}
#featuredLabel, #featured
{
	background-color: rgb(208, 23, 28);
	width: 80%;
}
#featured
{
	margin: 0;
	padding: 0 2rem 0 0;
}
#featured li
{
	font-weight: 700;
	margin-left: -2rem;
	padding: 0.5rem 1rem;
}
#featured li:first-child
{
	padding-left: 1rem;
}
#featured a
{
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding-right: 3rem;
}
#featuredLabel
{
	color: rgb(255, 255, 255);
	font-weight: 400;
	margin: 0;
	padding: 1rem 0 0 3rem;
	width: 83.75%;
}
#allStreetLabel
{
	font-weight: 400;
	padding: 1rem 0 0 3rem; 
	width: 20%;
    margin: 0;
	position: absolute;
	z-index: 1;
}
#allCategories
{
	margin: 0;
	box-shadow: 0 0 1.25rem rgb(225, 225, 225);
	position: absolute;
	background-color: rgb(255, 255, 255);
	z-index: 0;
	display: inline;
	width: 78.5%;
	padding: 0 0 1rem 1.75rem;
}
#allCategories li
{
	width: 23%;
	margin: 0.25rem 0.25rem 0.25rem -1rem;
	z-index: 1;
	padding-right: 1.5rem;
}
#allCategories li:first-child
{
	margin-top: 3rem;
}
#allCategories a
{
	font-weight: 700;
	color: rgb(58, 58, 58);
	text-decoration: none;
}
#allCategories a:hover
{
	color: rgb(15, 85, 156);
}
/* Navigation Menu End */

/* Body */
#helmetImg
{
	margin: 4rem 4rem 0 14rem;
	float: left;
}
#helmetGeneralInfo
{
	margin-left: 45rem;
	text-align: left;
}
#helmetGeneralInfo h1
{
	margin: 0 0 1rem 2rem;
	width: 50%;
	font-weight: 900;
}
#helmetGeneralInfo #iconLabel
{
	text-transform: uppercase;
	font-weight: 200;
	padding: 2rem 0 0 2rem;
	margin-bottom: 0;
}
#helmetPriceTag
{
	width: 20%;
	float: left;
	background-color: rgb(225, 225, 225);
	margin-left: 4rem;
}
#helmetPriceTag h1
{
	padding-left: 2rem;
	margin: 0.5rem 0;
}
#sizeSelector select
{
	height: 2rem;
	width: 20%;
	float: left;
	font-weight: 700;
	padding-left: 0.5rem;
	margin-left: 4rem;
}
#sizeSelector h3
{
	padding: 1rem;
	border-radius: 0.5rem;
	position: relative;
}
#sizeSelector h5
{
	width: 30%;
	float: left;
    margin: 1rem 0 0.5rem 4rem;
}
#findDealerAside
{
	padding: 0 0 1rem 1rem;
	background-color: rgb(15, 85, 156);
	width: 19%;
	float: left;
	margin-left: 4rem;
}
#findDealerLabel
{
	color: rgb(255, 255, 255);
	margin: 0.5rem 0 0 0;
	font-weight: 700;
}
#findDealerSearchBox
{
	height: 2rem;
	width: 68%;
	font-weight: 700;
}
#findDealerButton
{
	height: 2.5rem;
	width: 4rem;
	background-color: rgb(103, 128, 153);
	border: 2px solid rgb(15, 85, 156);    
	color: rgb(140, 165, 190);
	font-weight: 700;
	margin: 0;
}
#genInfoPartNumberBox
{
	height: 3rem;
	width: 20%;
	margin: 1rem 8rem 1rem 4rem;
	border: 1px solid rgb(221, 221, 221);
	float: left;
}
#genInfoPartNumberBox h5
{
	margin: 0.8rem 0 0 0.5rem;
	font-weight: 400;
}
#genInfoPartNumberBox span
{
	padding-left: 0.5rem;
}
#catalogsBox
{
	border: 1px solid rgb(236, 237, 236);
	width: 20%;
	float: right;
	padding: 0 0 1rem 2rem;
	margin: 2rem 12rem 1rem 0;
	height: 6rem;
}
#catalogsBox h3
{
	padding-left: 0;
	margin: 1.5rem 0 0.5rem 0;
}
#catalogLink
{
	background-color: rgb(255, 255, 255);
	color: rgb(119, 174, 232);
	text-decoration: underline;
	font-weight: 400;
}
#partNumberLabel
{
	float: left;
	width: 100%;
}
#specsLabel
{
	margin-bottom: 0;
	float: left;
	width: 50%;
}
#helmetSpecs
{
	margin-left: 4rem;
	width: 50%;
}
#helmetSpecs li
{
	margin: 0 1rem 0 0;
	width: 48%;
}
#helmetSpecs li:nth-child(even)
{
	float: right;
}
#helmetSpecs li:nth-child(2), #helmetSpecs li:nth-child(4)
{
	margin-top: -2rem;
}
#helmetSpecs li:nth-child(12)
{
	float: left;
	margin-top: -1rem;
}
#partNumberLabel
{
	float: left;
	width: 100%;
	margin-top: 2rem;
}
#helmetSizes
{
	background-color: rgb(255, 255, 255);
	border-collapse: collapse;
	width: 90%;
    margin: auto;
	margin-bottom: 3rem;
}
#helmetSizes th
{
	text-decoration: underline;
	text-align: left;
	border-top: 1.25px solid rgb(142, 142, 142);
	border-bottom: 1.25px solid rgb(142, 142, 142);
}
#helmetSizes tr
{
	height: 2.9rem;
}
#helmetSizes img
{
	width: 3rem;
    height: 3rem;
    padding-left: 25%;
    margin: 0.25rem;
    vertical-align: middle;
}
#helmetSizes tr:first-child
{
	background-color: rgb(225, 225, 225);
}
#helmetSizes th:nth-child(3)
{
	color: rgb(53, 53, 53);
	text-decoration: none;
}
#helmetSizes tr:nth-child(even)
{
	background-color: rgb(248, 248, 248);
	border-top: 1px solid rgb(216, 216, 216);
	border-bottom: 1px solid rgb(216, 216, 216);
}
#bottomLinks
{
	background-color: rgb(15, 85, 156);
	padding: 0.5rem 0 1rem 4rem;
	flex-wrap: wrap;
}
#bottomLinks.flex-container
{
	margin: 0;
	display: inline-flex;
}
#bottomLinks li 
{
	list-style-type: none;
	width: 30%;
}
#bottomLinks a
{
	color: rgb(255, 255, 255);
}
#bottomLinks .flex-item
{
	margin: 0.25rem;
	color: rgb(255, 255, 255);
	width: 30%;
	padding-right: 1rem;
}
#bottomLinks li:nth-child(31), #bottomLinks li:nth-child(32), #bottomLinks li:nth-child(33)
{
    width: 100%;
    padding: 0.65rem 0 0 .25rem;
}
#bottomLinks .flex-item:first-child, #bottomLinks .flex-item:nth-child(2), #bottomLinks .flex-item:nth-child(3)
{
	font-size: 1.1rem;
	font-weight: 700;
	width: 30%;
	padding-top: 0.5rem;
}
#helmetImg, #helmetGeneralInfo, #iconLabel, #helmetPriceTag, #sizeSelector h5, #genInfoPartNumberBox, 
#specsLabel, #helmetSpecs, #catalogsBox, #partNumberLabel, #helmetSizes, #bottomLinks, footer
{
	position: relative;
	z-index: -2;
}
.fa-lock:before
{
	color: rgb(255, 255, 255);
	padding-right: 0.25rem;
}
/* Body End */

/* Footer */
footer
{
	border-top: 5px solid rgb(208, 23, 28);
}
footer h4
{
	margin-left: 4rem;
	background-color: rgb(255, 255, 255);
	color: rgb(143, 143, 143);
	font-weight: 400;
	float:left;
	width: 100%;
}
/* Footer End */